.header {
    margin: 92px 24px 96px 24px;
    display: grid;
    grid-template-columns: 39.4% 17% 41.2%;
    justify-items: end;
    align-items: center;
    width: 1052px;
    height: 105px;
}

.header__links-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: circle;
    width: 387.9px;
    height: 22px;
    font-size: 18px;
    font-weight: 400;
    column-gap: 32px;
    line-height: 10px;
    margin-top: 16px;
}

.header__links-list-item_no-bulit{
    list-style: none;
    width: 67px;
    height: 21px;
}

.header__links-list-item {
    width: 180px;
    height: 22px;
    border: 1px;
}

.header__links-list-about {
    width: 130px;
    height: 22px;
    border: 1px;
}

.header__logo {
    width: 135px;
    height: 104.65px;
    align-items: start;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 98px;
    width: 240px;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 12.5px;
    margin-bottom: 10px;
}

.address__home {
    line-height: 27px;
    position: relative;
    top: 3px;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
}

.cover {
    height: 757px;   
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin: 96px 0px 179px 0px;
    position: relative;
}

.cover__title {
    display: grid;
    grid-template-columns: 285px 298px 415px;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 5px;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 165px 50px 147px;
}

.aligin-text {
    letter-spacing: 30px;
    line-height: 115px;
    grid-row: 1;
    grid-column: 1/4;
}

.aligin-text_center {
    letter-spacing: 30px;
    line-height: 100px;
    align-self: end;
    justify-self: start;
    grid-row: 2;
    grid-column: 2/4;
}

.aligin-text_right {
    letter-spacing: 30px;
    line-height: 100px;
    grid-row: 3;
    grid-column: 3/4;
    align-self: end;
    justify-self: start;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    height: 51px;
}

.cover__description-text {
    font-weight: 400;
    font-size: 22px;
    word-spacing: 18.4px;
    text-transform: uppercase;
    margin-left: 78px;
}

.bet-button {
    width: 256px;
    height: 51px;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 22px;
    font-weight: 500;
    border-color: white;
    border-width: 1px;
    margin-right: 50px;
    position: relative;
    bottom: 11px;
}

.lots {
    width: 1052px;
    height: 692px;
    margin: 179px 24px 146px 24px;
    position: relative;
    background-color: white;
}

.lots__heading {
    padding: 0 891px 27px 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
    text-transform: uppercase;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 334px);
    grid-template-rows: repeat(1, 563px);
    column-gap: 25px;
    list-style: none;
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
    padding: 52px 40px 0px;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    color: white;
    line-height: 24px;
}

.card__text-film {
    padding: 242px 40px 48px;
}

.card__text-book {
    padding: 0px 40px 48px;
}

.card__text-picture {
    padding: 96px 40px 48px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.lots__look-more-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 23.48px;
    display: grid;
    grid-template-columns: 1 1fr;
    height: 56px;
    align-items: end;
    padding-left: 40px;
}

.about {
    width: 1052px;
    height: 595px;
    margin: 146px 24px 180px 24px;
    display: flex;
    flex-direction: column;
    position: relative;
     
    
}
.about__logo {
    width: 240px;
    height: 240px;
    margin: 35px 72px 320px 47px;
    flex-basis: 334px;
    flex-grow: 1;
    border-radius: 50%;
    background-color: #000000;
    position: relative;
    opacity: 1;
}

.about__logo-image {
    width: 147px;
    height: 117px;
    margin: 62px 47.56px 62.2px 24px; 
}

.about__column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: absolute;
    top: 136px;
    left: 359px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 46.96px;
    padding-bottom: 100px;
}

.about__text-all {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1%;
}

.letter-spacing-1 {
    letter-spacing: 0.11px;
}

.letter-spacing-2 {
    letter-spacing: 0.13px;
}

.letter-spacing-3 {
    letter-spacing: 0.5px;
}

.letter-spacing-4 {
    letter-spacing: 0.23px;
}

.letter-spacing-5 {
    letter-spacing: 0.2px;
}

.about__text {
    padding-right: 15px;
}

.footer {
    width: 1000px;
    height: 98px;
    margin: 180px 50px 88px 50px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__menu-list-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    list-style: none;
}

.footer__social-list{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 48px;
    padding-left: 60px;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
}